@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:400,400i,500,500i,700,700i,900|Source+Sans+Pro:200,200i,300,300i,400,400i,600&subset=cyrillic-ext');

.gradient {
  background: linear-gradient(to bottom, #82beff, #d1ffff );	
  -webkit-background: linear-gradient(to bottom, #82beff, #d1ffff );	
  -o-background: linear-gradient(to bottom, #82beff, #d1ffff );	
  -moz-background: linear-gradient(to bottom, #82beff, #d1ffff );	 
}
.banner{

}
	.banner_img.hide {
	  transform: translate(920px, 0px);
	  -webkit-transform: translate(920px,0); /** Chrome & Safari **/
	  -o-transform: translate(920px,0); /** Opera **/
	  -moz-transform: translate(920px,0); /** Firefox **/
	}
	.banner_text.hide {
	  transform: translate(0px, -350px);
	}	
		.banner_text_title.hide {
		  transform: translate(0px,-350px);
		}	
		.banner_text_button.hide {
		  transform: translate(0px, 1300px);
		}	
		.banner_text_health.hide {
		  transform: translate(-350px,0);
		}	
		.banner_text_intro.hide {
		  transform: translate(-680px,0);
		}
	.banner_link { 
	  text-decoration: none; /* Отменяем подчеркивание у ссылки */   
	  color:#FFFFFF;
	} 	
		.banner_link:focus {
		  color:red;	
		}
		.banner_link:hover {
		  color:#FFD700;
		}
@media only screen  and (min-width:980px){
	.banner_wrap {
	  max-width:980px;
	  height:400px;
	  margin:auto;
	  overflow: hidden;
	  border: 3px solid #000;
	  position: relative;
	}
	.banner_img_size {
	  width:500px;
	  height:500px;
	}
	.banner_img {
	  position: absolute; 
	  transition: all 1s cubic-bezier(0.5, 1, 0.5, 1.2);
      -webkit-transition: all 1s cubic-bezier(0.5, 1, 0.5, 1.2);
      -moz-transition: all 1s cubic-bezier(0.5, 1, 0.5, 1.2);
   	  -o-transition: all 1s cubic-bezier(0.5, 1, 0.5, 1.2);
	  top:-18px; 
	  left:425px;	
	}
	.banner_text {
	  position:absolute; 
	  top: 80px; 
	  left:100px;
	}
		.banner_text_title {
		  color: #FFFAF0;	
		  font:300 40px 'Open Sans', sans-serif;
		  transition: all 0.7s ease-out;
	      -webkit-transition: all 0.7s ease-out;
	      -moz-transition: all 0.7s ease-out;
	      -o-transition: all 0.7s ease-out;
		}
		
		.banner_text_health {
		  font:700 15px 'Roboto', sans-serif;
		  color:#FFFFFF;
		  padding-top:20px;
		  padding-left:4px;
		  transition: all 0.5s ease;
	      -webkit-transition: all 0.5s ease;
	      -moz-transition: all 0.5s ease;
	      -o-transition: all 0.5s ease;
		}
		.banner_text_intro {
		  font:200 20px, 'Source Sans Pro' sans-serif;
		  color:#0000CD;
		  margin-right:-40px;
		  padding-top:20px;
		  max-width:46%;
		  transition: all 0.5s ease;
	      -webkit-transition: all 0.5s ease;
	   	  -moz-transition: all 0.5s ease;
	      -o-transition: all 0.5s ease;
		}
		
		.banner_text_button {
		  font: 16px 'Roboto', sans-serif;
		  background: #0261ba;
		  color: #FFFFFF;
		  padding:10px;
		  border-radius: 5px;
		  margin-top:20px;
		  margin-right:25px;
		  max-width:158px;
		  transition: all 0.9s ease-out;
	      -webkit-transition: all 0.9s ease-out;
	      -moz-transition: all 0.9s ease-out;
	      -o-transition: all 0.9s ease-out;
		}
	
}
/* 760 480 320*/
/* Отношение ширины к высоте 2.45*/
@media only screen and (min-width:760px) and (max-width: 979px){
	.banner_wrap {
	  max-width:760px;
	  height:343px;
	  margin:auto;
	  overflow: hidden;
	  border: 3px solid #000;
	  position: relative;
	}
	.banner_img {
	  position: absolute; 
	  transition: all 1s cubic-bezier(0.5, 1, 0.5, 1.2);
      -webkit-transition: all 1s cubic-bezier(0.5, 1, 0.5, 1.2);
   	  -moz-transition: all 1s cubic-bezier(0.5, 1, 0.5, 1.2);
   	  -o-transition: all 1s cubic-bezier(0.5, 1, 0.5, 1.2);
	  top:-10px; 
	  left:347px;	
	}
		.banner_img_size {
	      width: 390px;
		  height: 390px;
		}
	.banner_text {
	  position:absolute; 
	  top: 69px; 
	  left: 76px;
	}
		.banner_text_title {
		  color: #FFFAF0;	
		  font: 300 31px 'Open Sans', sans-serif;
		  transition: all 0.7s ease-out;
	      -webkit-transition: all 0.7s ease-out;
	      -moz-transition: all 0.7s ease-out;
	      -o-transition: all 0.7s ease-out;
		}
		.banner_text_health{
		  font: 700 12px 'Roboto', sans-serif;
		  color:#FFFFFF;
		  padding-top:15px;
		  padding-left:2px;
		  transition: all 0.5s ease;
	      -webkit-transition: all 0.5s ease;
	      -moz-transition: all 0.5s ease;
	      -o-transition: all 0.5s ease;
		}
		.banner_text_intro {
		  font: 200 15px 'Source Sans Pro', sans-serif;
		  color: #0000CD;
		  padding-top: 15px;
		  max-width: 45%;
		  transition: all 0.5s ease;
	      -webkit-transition: all 0.5s ease;
	      -moz-transition: all 0.5s ease;
	      -o-transition: all 0.5s ease;
		}
		.banner_text_button{
		  font:13px 'Roboto', sans-serif;
		  background: #0261ba;
		  background-size: 13px; 
		  color: #FFFFFF;
		  padding:7px;
		  border-radius: 5px;
		  margin-top:20px;
		  margin-right:40px;
		  max-width:128px;
		  transition: all 0.9s ease-out;
		  -webkit-transition: all 0.9s ease-out;
		  -moz-transition: all 0.9s ease-out;
		  -o-transition: all 0.9s ease-out;
		}

}
/*изменение ширины 37%*/
@media only screen and (min-width:480px) and (max-width: 759px) {
	.banner_wrap {
	  max-width:480px;
	  height:216px;
	  margin:auto;
	  overflow: hidden;
	  border: 3px solid #000;
	  position: relative;
	}
	.banner_img {
	  position: absolute; 
	  transition: all 1s cubic-bezier(0.5, 1, 0.5, 1.2);
   	  -webkit-transition: all 1s cubic-bezier(0.5, 1, 0.5, 1.2);
   	  -moz-transition: all 1s cubic-bezier(0.5, 1, 0.5, 1.2);
   	  -o-transition: all 1s cubic-bezier(0.5, 1, 0.5, 1.2);
	  top:-5px; 
	  left:220px;	
	}
		.banner_img_size {
		  width:246px;
		  height:246px;
		}
	.banner_text {
	  position:absolute; 
	  top: 40px; 
	  left: 40px;
	}
		.banner_text_title {
		  color: #FFFAF0;	
		  font: 300 20px 'Open Sans', sans-serif;
		  transition: all 0.7s ease-out;
	      -webkit-transition: all 0.7s ease-out;
	      -moz-transition: all 0.7s ease-out;
	      -o-transition: all 0.7s ease-out;
		}
		.banner_text_health {
		  font: 700 8px 'Roboto', sans-serif;
		  color:#FFFFFF;
		  padding-top:10px;
		  padding-left:2px;
		  transition: all 0.5s ease;
	      -webkit-transition: all 0.5s ease;
	      -moz-transition: all 0.5s ease;
	      -o-transition: all 0.5s ease;
		}
		.banner_text_intro{
		  font: 200 11px 'Source Sans Pro', sans-serif;;
		  color:#0000CD;
		  padding-top:10px;
		  padding-left:2px;
		  max-width:45%;
		  transition: all 0.5s ease;
	      -webkit-transition: all 0.5s ease;
	      -moz-transition: all 0.5s ease;
	      -o-transition: all 0.5s ease;
		}
		.banner_text_button{
		  font: 9px 'Roboto', sans-serif;
		  background: #0261ba;
		  color: #FFFFFF;
		  padding:5px;
		  border-radius: 5px;
		  margin-top:13px;
		  margin-right:40px;
		  max-width:90px;
		  transition: all 0.9s ease-out;
		  -webkit-transition: all 0.9s ease-out;
		  -moz-transition: all 0.9s ease-out;
		  -o-transition: all 0.9s ease-out;
		}
}	
/* 33% */
@media only screen and (max-width: 480px){
	.banner_img {
	  position: absolute; 
	  top:-5px; 
	  left:500px;
	}
	.banner_wrap {
	  max-width:320px;
	  height:145px;
	  margin:auto;
	  overflow: hidden;
	  border: 3px solid #000;
	  position: relative;
	}
	@media only screen and (min-width: 190px) and (max-width:480px){
		.banner_text {
		  position:absolute; 
		  top: 5px; 
		  left: 10px;
		}
			.banner_text_title {
			  font: 300 22px 'Open Sans', sans-serif;
			  color: #FFFAF0;	
			  transition: all 0.7s ease-out;
		      -webkit-transition: all 0.7s ease-out;
		      -moz-transition: all 0.7s ease-out;
		      -o-transition: all 0.7s ease-out;
			}
			.banner_text_health{
			  font: 700 8px 'Roboto', sans-serif;
			  color:#FFFFFF;
			  padding-top:10px;
			  padding-left:2px;
			  transition: all 0.5s ease;
		      -webkit-transition: all 0.5s ease;
		      -moz-transition: all 0.5s ease;
		      -o-transition: all 0.5s ease;
			}
			.banner_text_intro {
			  font: 200 11px 'Source Sans Pro', sans-serif;
			  color:#0000CD;
			  padding-top:10px;
			  padding-left:2px;
			  max-width:100%;
			  transition: all 0.5s ease;
		      -webkit-transition: all 0.5s ease;
		      -moz-transition: all 0.5s ease;
		      -o-transition: all 0.5s ease;
			}
			.banner_text_button {
			  font: 9px 'Roboto', sans-serif;
			  background: #0261ba;
			  color: #FFFFFF;
			  padding:5px;
			  border-radius: 5px;
			  margin-top:13px;
			  margin-right:40px;
			  max-width:89px;
			  transition: all 0.9s ease-out;
			  -webkit-transition: all 0.9s ease-out;
			  -moz-transition: all 0.9s ease-out;
			  -o-transition: all 0.9s ease-out;
			}
	}
	@media only screen and (min-width: 160px) and (max-width:190px) {
		.banner_text {
		  position:absolute; 
		  top: 5px; 
		  left: 10px;
		}
			.banner_text_title {
			  font: 300 19px 'Open Sans', sans-serif;
			  color: #FFFAF0;	
			  transition: all 0.7s ease-out;
		      -webkit-transition: all 0.7s ease-out;
		      -moz-transition: all 0.7s ease-out;
		      -o-transition: all 0.7s ease-out;
			}	
			.banner_text_health {
			  font: 700 7px 'Roboto', sans-serif;
			  color:#FFFFFF;
			  padding-top:10px;
			  padding-left:2px;
			  transition: all 0.5s ease;
		      -webkit-transition: all 0.5s ease;
		      -moz-transition: all 0.5s ease;
		      -o-transition: all 0.5s ease;
			}
			.banner_text_intro {
			  font: 200 9px 'Source Sans Pro', sans-serif;
			  color:#0000CD;
			  padding-top:10px;
			  padding-left:2px;
			  max-width:100%;
			  transition: all 0.5s ease;
		      -webkit-transition: all 0.5s ease;
		      -moz-transition: all 0.5s ease;
		      -o-transition: all 0.5s ease;
			}
			.banner_text_button {
			  font: 7px 'Roboto', sans-serif;
			  background: #0261ba;
			  color: #FFFFFF;
			  padding:5px;
			  border-radius: 5px;
			  margin-top:13px;
			  margin-right:40px;
			  max-width:70px;
			  transition: all 0.9s ease-out;
			  -webkit-transition: all 0.9s ease-out;
			  -moz-transition: all 0.9s ease-out;
			  -o-transition: all 0.9s ease-out;
			}	
	}
	@media only screen and (min-width: 130px) and (max-width:160px) {
		.banner_text {
		  position:absolute; 
		  top: 5px; 
		  left: 10px;
		}
			.banner_text_title {
			  font: 300 17px 'Open Sans', sans-serif;
			  color: #FFFAF0;	
			  transition: all 0.7s ease-out;
		      -webkit-transition: all 0.7s ease-out;
		      -moz-transition: all 0.7s ease-out;
		      -o-transition: all 0.7s ease-out;
			}	
			.banner_text_health {
			  font: 700 6px 'Roboto', sans-serif;
			  color:#FFFFFF;
			  padding-top:10px;
			  padding-left:2px;
			  transition: all 0.5s ease;
		      -webkit-transition: all 0.5s ease;
		      -moz-transition: all 0.5s ease;
		      -o-transition: all 0.5s ease;
			}
			.banner_text_intro {
			  font:200 7px 'Source Sans Pro', sans-serif;
			  color:#0000CD;
			  padding-top:10px;
			  padding-left:2px;
			  max-width:100%;
			  transition: all 0.5s ease;
		      -webkit-transition: all 0.5s ease;
		      -moz-transition: all 0.5s ease;
		      -o-transition: all 0.5s ease;
			}
			.banner_text_button {
			  font: 5px 'Roboto', sans-serif;
			  background: #0261ba;
			  color: #FFFFFF;
			  padding:4px;
			  border-radius: 5px;
			  margin-top:13px;
			  margin-right:30px;
			  max-width:50px;
			  transition: all 0.9s ease-out;
			  -webkit-transition: all 0.9s ease-out;
			  -moz-transition: all 0.9s ease-out;
			  -o-transition: all 0.9s ease-out;
			}	
	}
}	
